.exercise{
	margin-bottom: 20px;
	padding: 20px;
	height: 100%;
	width: 99%;
	border-radius: 4px;
}

.exercise-base{
	background-color: #eaeaea;
}

.exercise-incomp{
	background-color: #e08d8d;
}

.exercise-comp{
	background-color: #b6db9b;
}

.status-section{
	display: inline-flex;
    -ms-flex-pack: justify;
    width: 100%;
	justify-content: space-between;
	margin-bottom: 20px;
}

.status-section > div {
	width: 120px;
	display: inline-flex;
	justify-content: space-around;
}
.status-section > div button{
	font-size: 1.1em;
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

.status-section > div button:focus{
	outline: none;
	border:0;
}

.button-ko{
	background-color: #ce1616;
	border: 2px #661c18 solid;
    margin: auto;
}

.button-ok{
	
	background-color: #2fa35b;
	border: 2px #1e6037 solid;
    margin: auto;
}

#exercise-statement{
	text-align: justify;
	width: 90%;
	font-weight: bold;
    font-size: 1.1em;
}