.col-sm-3{
	padding: 0;
}

.Navigator {
	position: fixed;
	background-color: #efefef;
	height: 100vh;
	padding: 20px;
}

.Navigator-profile{
	padding: 25px;
}
.Navigator-profile > img{
	height: 200px;
	border-radius: 50%;
	width: 200px;
}

.Navigator-profile > span{
	display: inline-flex;
	flex-flow: wrap;
}

.Navigator-profile > nav{
	padding-top: 25px;
	display: grid;
	
}

.Navigator-profile > nav a{
	font-size: 2vh;
	padding-bottom: 5%;
	color: #549ED7;
	text-decoration: none;
}

.percentage-title{
	font-size: 1em;
	padding-top: 5%;
	margin-left: -100px;
}

.Navigator-profile > h3{
	font-size: 1.8em;
}

.completedSubject{
	color: #58B87D !important;
}