.Main {
	background-color: #c7d3db;
	height: 100vh;
	overflow-y: scroll;
}

.navigator-div{
	grid-area: navigator;
}

.main-div{
	grid-area: main;
	overflow-y: scroll;
}

.App {
	text-align: center;
	height: 100vh;
	background-color: #f9f9f9;
	display: grid !important;
	grid-template-columns: 1.2fr 2.8fr 2fr;
	grid-template-rows: 15vh 85vh ;
	grid-template-areas: 
	"header header header"
	"navigator main main";
}

@media only screen and (max-width: 700px) {
	.App {
		grid-template-columns: 2fr;
		grid-template-rows: 20vh 30vh 50vh;
		grid-template-areas: 
		"header"
		"navigator"
		"main";
	}
}