.Main {

	background-color: #c7d3db;
	height: 100vh;
	overflow-y: scroll;
}

.App-header {
	background-color: #3E9EDC;
	padding: 2%;
	color: black;
	grid-area: header;
  }
  

  .navigator-div{
	grid-area: navigator;
  }
  .main-div{
	grid-area: main;
  }
  
  .App {
	text-align: center;
	height: 100vh;
	background-color: #f2f2f2;
	display: grid !important;
	grid-template-columns: 1.5fr 2.5fr 2fr;
	  grid-template-rows: 18vh 82vh ;
	  grid-template-areas: 
	  "header header header"
	  "navigator main main";
  }

  @media only screen and (max-width: 700px) {
    .App {
		grid-template-columns: 2fr;
	  	grid-template-rows: 20vh 30vh 50vh;
        grid-template-areas: 
		"header"
		"navigator"
		"main";
    }
}