.App-title{
    font-size: 2.5em;  
}

.nav-top{
    font-size: 1.2em;
}
.nav-top > a{
    color: black!important;
}
.App-header {
	background-color: #3E9EDC;
    padding: 2%;
	color: black;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.App-user-info > div > img{
    border-radius: 50%;
    
	width: 75px;
}

.App-user-info > *{
    float:left;
}
.App-user-info{
    width: 250px;
    justify-content: space-between;
    display: flex;
}
.App-user-info >div >h3{
    font-size: 1.2em;
}
.App-user-info >ul{
    margin-top: 8%;
}