.main-subject{
    overflow-y: scroll;
}

.main-subject h3{
    font-size: 2.1em;
    margin-top:20px;
    margin-bottom:20px;
}

.main-subject .theory{
    font-size: 1.1em;
    float: left;
}

.main-subject-exercises{
    margin-top: 50px;
}